<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% block title %}  {% endblock %} </title>

    <link href="{%url upload-index%}static/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> 
    <script type="text/javascript" src="{%url upload-index%}static/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="{%url upload-index%}static/js/bootstrap.min.js"></script>
    <style>

      body {
        margin-top: 50px;
        margin-bottom: 70px;
      }
    </style>
  </head>

  <body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="/"> Upload </a>
            </div>
          </div>
        </div>
    <div class="container well">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
