{%extends "main/templates/base.html" %}

  {% block title %} All Files {% endblock %}


  {% block content %} 

  {%if files %}
    <table class="table table-stripped table-bordered">
      <head>
        <tr>
          <th>Titulo</th>
          <th>Arquivo</th>
          <th>Tamanho (bytes)</th>
          <th></th>
        </tr>
      </head>
      <tbody> 
        {% for f in files %}
          <tr>
            <td>{{f.title}}</td>
            <td>{{f.name}}</td>
            <td>{{f.content.size}}</td>
            <td><a class="btn btn-primary" href="{% url upload-download f.id %}">Download</a>&nbsp&nbsp<a class="btn btn-danger" href="{% url remove-file f.id %}">Remover</a> </td>
          </tr>
        {%endfor%}
      </tbody>
    </table>
  {% endif %}
  <a class="btn btn-inverse pull-right" href="{% url upload-new %}"> Novo Arquivo </a>
  {% endblock %}

