{% extends "main/templates/base.html" %}

{% block title %} Novo Arquivo {% endblock %}



{% block content %}
  <form  class="form-vertical" action="{% url upload-new%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Titulo:</label>
    <input class="input-xlarge" type="text" name="title">
    
    <label> Arquivo: </label> 
    <input class="input-xlarge" type="file" name="file">

    <input type="submit" name="Salvar" class="btn btn-success">
  </form>
{% endblock %}

